
/* body */
/*body{
    padding-left:12em;
    color:black;
    font-family: Georgia,"Times New Roman",Arial;
}*/
#title_body{
    font-size:10em;
    padding-left:12em;
    color:blue;
    font-family: sans-serif;
}
#content_body{
    margin-left:15em;
    color:blue;
    font-family: sans-serif;
}

/* */
ul.navbar{
    position:absolute;
    top:2em;
    left:1em;
    width:7em;
}
ul.navbar li{
    background:#cccccc;
    margin:0.5em 0;
    /*padding:0.3em;*/
}
address{
    margin-top: 30em;
    padding-top: 1em;
    border-top: thin dotted;
}

